<h2>Les Articles</h2>

<table class="table">
  <thead class="thead-dark">
  <tr>
    <th scope="col">Id</th>
    <th scope="col">Titre</th>
    <th scope="col">Voir</th>
    <th scope="col">Modifier</th>
    <th scope="col">Supprimer</th>
  </tr>
  </thead>

  <tbody *ngFor="let article of articles">
  <tr>
    <th scope="row">{{article.id}}</th>
    <td>{{article.title}}</td>
    <td><button type="button" routerLink="resume/{{article.id}}" class="btn btn-primary">Voir</button></td>
    <td><button type="button" routerLink="modif/{{article.id}}" class="btn btn-warning">Modifier</button></td>
    <td><button class="btn btn-danger"(click)="deleteUnArticle()">Supprimer</button></td>
  </tr>
  </tbody>
</table>

